@import "../../../assets/styles/setup/variables";

.footer {
  position: sticky;
  margin-top: 3rem;
  bottom: 0;
  background: $bg-clr2;
  color: $text-clr1;
  width: 100%;
  padding-block: 0.5rem;
  text-align: center;
}
