<form class="contact-filter">
  <input
    [(ngModel)]="contactFilter.name"
    (ngModelChange)="onSetFilter()"
    type="text"
    name="name"
    id="name"
    placeholder="Search a contact"
  />
  <input
    [(ngModel)]="contactFilter.phone"
    (ngModelChange)="onSetFilter()"
    type="string"
    name="phone"
    id="phone"
    placeholder="Search a contact by phone number"
  />
  <input
    [(ngModel)]="contactFilter.email"
    (ngModelChange)="onSetFilter()"
    type="text"
    name="email"
    id="email"
    placeholder="Search a contact by email"
  />
</form>
