<header class="main-layout full app-header">
  <div class="layout-wrapper">
    <div class="logo">
      <img src="../../../assets/img/logo.svg" alt="" />
      <span>Mr.Bitcoin</span>
    </div>

    <div *ngIf="user" class="user-container">
      <div class="user-img-container">
        <img src="../../../assets/img/contact.png" alt="" />
      </div>
      <div class="user-details">
        <span> {{ user.name }}</span>
        <button (click)="onLogout()" class="btn btn-logout">Logout</button>
      </div>
    </div>

    <ul class="links clean-list">
      <li class="link">
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a routerLink="contact" routerLinkActive="active">Contacts</a>
        <a routerLink="statistic" routerLinkActive="active">Statistics</a>
      </li>
    </ul>
  </div>
</header>
