// COLOR PALETTE
$brand-clr: #f7931a;
$brand-clr-bold: #f8951b;
$bg-clr1: #1c1d21;
$bg-clr2: #31353d;
$bg-clr3: #445878;
$text-clr1: #eeeff7;
$text-clr2: #9d9d9d;
$sucess-clr: #22bb33;
$danger-clr: #d93b30;

// LAYOUT
$layoutPadding: 24px;

// LAYOUT BREAKPOINT
$break-narrow: 820px;
