@import "../../../assets/styles/setup/variables";
.contact-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.25em;
  margin-top: 1rem;
  .contact-container {
    background: $bg-clr2;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
  }
  .contact-actions-container {
    display: flex;
    justify-content: space-between;
  }
  .btn-delete {
    padding: 1rem;
    background: $danger-clr;
    position: absolute;
    top: 2px;
    left: 2px;
    height: min-content;
  }
}
