@import "../../../assets/styles/setup/variables";

form {
  display: grid;
  align-items: center;
  gap: 1rem;
  input {
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: $brand-clr-bold 1px solid;
    outline: none;
  }
}
